.footer {
    text-align: center;
    height: 20px; /* Adjust the height as needed */
    /* background-color: rgb(27, 27, 27);
    color: white; */
    position: fixed;
    left: 0px;
    bottom: 0px;
    width:100dvw;
}
  