body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: auto;
}

.mainCont{
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 150px;
  width: 600px;
  /* height: 50%; */
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  padding: 15px;
}

.mazeSpace{
  grid-column: span 1;
  grid-row: span 2;

}

.codingSpace{
  grid-column: span 1;
  grid-row: span 2;
  justify-content: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}